name: CI
on:
  push:
    branches:
      - master
jobs:
  test:
    name: Node.js ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        # os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: git config --global user.name "Github Actions"
      - run: git config --global user.email "actions@users.noreply.github.com"
      - run: npm install -g -f ts-dev-stack node-version-use depcheck @biomejs/biome@2.3.4 mocha
      - name: Playwright
        working-directory: ./packages/tsds-web-test-runner 
        run: npx -y playwright install --with-deps
      - run: npm install -g -f each-package
      - run: ep -t -s -e depcheck
      - run: ep -t -s -e npm ci
      - run: ep -t -s -e npm run build
      - run: ep -t -s -e tsds validate
      - run: ep -t -s -e npm run test
      - run: ep -t -s -e npm run test:engines
